body {
  background-color: #101214;
  color: #ffff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Cascadia Code", monospace;
  width: 100%;
}
body .main {
  width: 100%;
  padding-top: 3vh;
  text-align: center;
}
body .main #info a {
  color: #1A1C1F;
  text-decoration: none;
}
body .main #info #bio {
  background-color: #1A1C1F;
  padding: 5px;
  border-radius: 5px;
}
body .main #info2 a {
  color: #1A1C1F;
  text-decoration: none;
}
body .main #info2 #bio {
  display: block;
  margin-bottom: 0.5em;
}
body .main #weirdo {
  margin-top: -30px;
  opacity: 0.15;
  position: absolute;
  rotate: 25deg;
  font-size: 10px;
}
body .main #avatar {
  border-radius: 15px;
  height: 25%;
}
body .main h1 {
  color: #1A1C1F;
}
body .main #pl1 {
  color: white;
}
body .main #pl2 {
  color: red;
}